@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Raleway', sans-serif;
  }
  .container {
      max-width: 1440px;
      margin: 0 auto;
      /* border: 1px solid orange; */
  }
header {
padding: 20px 0;
}
  nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 120px;
      
  }

 
#main-nav{
  display: flex;
  align-items: center;
  justify-content:center;
 
}
ul {
  list-style-type: none;
}
li+li {
  margin-left: 15px;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color:#2D2D2D;
  cursor: pointer;
}

#main-nav a{
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

nav h1 {
  font-size: 36px;
  color:#2D2D2D;
}
#nav-icon {
display: flex;
align-items: center;
justify-content: center;
}
#nav-icon a {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#section-1{
  background-color: #B4D1DA;
  padding: 100px 30px;
}

.section-1-text{
  max-width: 830px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  color: #2D2D2D;
}

.gallary-img {
  display: flex;
  flex-wrap: wrap;
}

img {
  width:50%;
  object-fit: cover;
}

 .about-me {
   padding: 100px 30px;
   max-width: 1200px;
   margin:0 auto;
 }
 
 .about {
   max-width: 821px;
   margin-bottom: 30px;
 }

 h1 {
   font-size: 48px;
   color: #2D2D2D;
   font-weight: 700;
 }
  
 .about-text {
   display: flex;
   gap: 15px;
   color: #2D2D2D;
   font-size: 24px;
   font-weight: normal;
 }
footer {
  background-color: #B4D1DA;
  padding: 100px 30px;
}
 

#contact {
  margin-left: 150px;
}

#contact h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 36px;
  color: #2D2D2D;
}

 #contact p {
  color: #2D2D2D;
  font-size: 18px;
  margin-top: 12px;
 
} 

.scroll {
  text-align: center;
}

.scroll a {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

@media(max-width:800px){
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 120px;
    
}
}